In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in ./.venv/lib/python3.11/site-packages (1.26.4)

In [2]:
import pandas as pd

In [7]:
pd.DataFrame({"Name": ["Vimal Menon", "Krishiv Menon"],"Age":[39, 1.5]})

            Name   Age
0    Vimal Menon  39.0
1  Krishiv Menon   1.5