In [1]:
import numpy as np
import pandas as pd
import humps

In [2]:
seed_int = 45
rows = 50

# dumb, average, smart, genius
dump = (5,25)
average = (26,60)
smart = (61,80)
genius = (81,101)

In [3]:
# %%timeit
np.random.seed(seed_int)
np.random.randint(low=0, high=101,size=(2000))

array([75, 30,  3, ..., 18, 73, 92])

In [4]:
# %%timeit
np.random.seed(seed_int)
np.random.choice(["A", "B", "C", "D", "E", "F", "G", "H", "I"], 10)

array(['D', 'A', 'F', 'D', 'E', 'I', 'B', 'F', 'G', 'I'], dtype='<U1')

In [5]:
np.random.seed(seed_int)
alphabets = np.array(["a", "b", "d", "e", "f", "g", "h", "i", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u"])
alphabets

array(['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o',
       'p', 'q', 'r', 's', 't', 'u'], dtype='<U1')

In [6]:
# np.random.seed(seed_int)
def get_names():
    name = np.random.choice(alphabets, np.random.randint(low=4, high=10))
    return humps.pascalize("".join(name))

In [7]:
def get_marks(grade):
    low, high = dump
    if grade == "dump":
        low, high = dump
    if grade == "average":
        low, high = average
    if grade == "smart":
       low, high = smart
    if grade == "genius":
       low, high = genius
    return np.random.randint(low=low, high=high)

In [8]:
grades = np.random.choice(["dump", "average", "smart", "genius"], rows)

In [9]:
first_names = [get_names() for _ in range(rows)]
last_names = [get_names() for _ in range(rows)]
english_marks = [get_marks(grade) for grade in grades]
math_marks = [get_marks(grade) for grade in grades]

In [10]:
df = pd.DataFrame({ "first_name": first_names,"last_name": last_names, "english": english_marks, "math": math_marks, "grade": grades})

In [11]:
df["percent"] = (df["english"] + df["math"]) /2
df.head()

  first_name  last_name  english  math   grade  percent
0       Tpnm       Snei       88    94  genius     91.0
1       Rsld     Fbmhkl       73    68   smart     70.5
2    Asnulua    Qenhuli       93    93  genius     93.0
3      Haksh  Kliumsiui       11     8    dump      9.5
4   Gtrequll      Edtdb       21    18    dump     19.5

In [12]:
df[["first_name", "last_name", "percent"]].head()

  first_name  last_name  percent
0       Tpnm       Snei     91.0
1       Rsld     Fbmhkl     70.5
2    Asnulua    Qenhuli     93.0
3      Haksh  Kliumsiui      9.5
4   Gtrequll      Edtdb     19.5