In [1]:
import numpy as np
import pandas as pd
import humps

In [2]:
seed_int = 45
rows = 50

# dumb, average, smart, genius
dump = (5,25)
average = (26,60)
smart = (61,80)
genius = (81,101)

In [3]:
# %%timeit
np.random.seed(seed_int)
np.random.randint(low=0, high=101,size=(2000))

array([75, 30,  3, ..., 18, 73, 92])

In [4]:
# %%timeit
np.random.seed(seed_int)
np.random.choice(["A", "B", "C", "D", "E", "F", "G", "H", "I"], 10)

array(['D', 'A', 'F', 'D', 'E', 'I', 'B', 'F', 'G', 'I'], dtype='<U1')

In [5]:
np.random.seed(seed_int)
alphabets = np.array(["a", "b", "d", "e", "f", "g", "h", "i", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u"])
alphabets

array(['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o',
       'p', 'q', 'r', 's', 't', 'u'], dtype='<U1')

In [6]:
# np.random.seed(seed_int)
def get_names():
    name = np.random.choice(alphabets, np.random.randint(low=4, high=10))
    return humps.pascalize("".join(name))

In [7]:
def get_marks(grade):
    low, high = dump
    if grade == "dump":
        low, high = dump
    if grade == "average":
        low, high = average
    if grade == "smart":
       low, high = smart
    if grade == "genius":
       low, high = genius
    return np.random.randint(low=low, high=high)

In [8]:
grades = np.random.choice(["dump", "average", "smart", "genius"], rows)

In [9]:
first_names = [get_names() for _ in range(rows)]
last_names = [get_names() for _ in range(rows)]
english_marks = [get_marks(grade) for grade in grades]
math_marks = [get_marks(grade) for grade in grades]

In [10]:
df = pd.DataFrame({ "first_name": first_names,"last_name": last_names, "english": english_marks, "math": math_marks, "grade": grades})

In [11]:
df["percent"] = (df["english"] + df["math"]) /2
df

   first_name  last_name  english  math    grade  percent
0        Tpnm       Snei       88    94   genius     91.0
1        Rsld     Fbmhkl       73    68    smart     70.5
2     Asnulua    Qenhuli       93    93   genius     93.0
3       Haksh  Kliumsiui       11     8     dump      9.5
4    Gtrequll      Edtdb       21    18     dump     19.5
5       Muiqf     Skhqpk       97    88   genius     92.5
6   Nolihdiih      Ekrgn       44    33  average     38.5
7     Rhsqlpg    Neolidq       34    40  average     37.0
8      Iqbsun      Hueoo       96    85   genius     90.5
9     Bnloupq     Neiaqt        5    14     dump      9.5
10      Tismd       Gfnn       47    35  average     41.0
11      Tfdnu   Aguhatur       22    17     dump     19.5
12    Dgnrhou    Onbhopr       99    89   genius     94.0
13       Ritd      Orrqr       44    28  average     36.0
14   Ilhfnpfg  Upgqattql       76    70    smart     73.0
15    Fbeisnr     Asdsri       53    31  average     42.0
16   Anmqsbll     Duqgtu       27    30  average     28.5
17     Ffskdl    Hrlpuuh       75    64    smart     69.5
18  Ofpeuldka      Nusfl        8    18     dump     13.0
19       Opau   Logistld       88    98   genius     93.0
20  Tubuqeiau    Qgfkqnl       79    75    smart     77.0
21  Smkodluug       Teip        7    10     dump      8.5
22       Ktof  Usohtttpd       42    27  average     34.5
23      Qtosm     Rqpogd       12    11     dump     11.5
24       Dbmf     Ukgkrp       72    78    smart     75.0
25       Qlos   Mtrbpllm       24    14     dump     19.0
26      Orqrg      Meins       12    18     dump     15.0
27    Mibtnep      Qnopd        8    19     dump     13.5
28  Gostatbnf   Odfkhieo       48    44  average     46.0
29       Rnpa      Ffnha       70    75    smart     72.5
30      Dqkus     Litgin        7     9     dump      8.0
31       Pemq     Qaukdt       76    72    smart     74.0
32    Qfarlai      Ksgnr       75    77    smart     76.0
33       Tsrk       Nmks       78    64    smart     71.0
34      Pkdto      Oonos       24     5     dump     14.5
35      Hreue       Ktsa       62    61    smart     61.5
36     Kkpdba  Ltobtgpdp       61    69    smart     65.0
37    Bberdtk     Hlrspg       16    14     dump     15.0
38       Uimp  Flkmdqmsf       83    85   genius     84.0
39       Qstu  Ulbsndslh       62    62    smart     62.0
40    Obppare      Rloin       11     6     dump      8.5
41   Affslgbr  Thufdfqbe       26    53  average     39.5
42       Kgis      Sshpo       29    59  average     44.0
43   Ekkrmedf     Rukoob       92    91   genius     91.5
44   Reqqpdbl     Eamgkp       51    36  average     43.5
45    Lplonuk   Tnfoabfb       67    73    smart     70.0
46       Ukrq      Ifruo       24    17     dump     20.5
47   Ukiildku      Tossr       74    70    smart     72.0
48  Mufmrtptq  Iqktfbbpg       86    96   genius     91.0
49   Pnuirake   Ibaihnrh       17    12     dump     14.5

In [12]:
df[["first_name", "last_name", "percent"]]

   first_name  last_name  percent
0        Tpnm       Snei     91.0
1        Rsld     Fbmhkl     70.5
2     Asnulua    Qenhuli     93.0
3       Haksh  Kliumsiui      9.5
4    Gtrequll      Edtdb     19.5
5       Muiqf     Skhqpk     92.5
6   Nolihdiih      Ekrgn     38.5
7     Rhsqlpg    Neolidq     37.0
8      Iqbsun      Hueoo     90.5
9     Bnloupq     Neiaqt      9.5
10      Tismd       Gfnn     41.0
11      Tfdnu   Aguhatur     19.5
12    Dgnrhou    Onbhopr     94.0
13       Ritd      Orrqr     36.0
14   Ilhfnpfg  Upgqattql     73.0
15    Fbeisnr     Asdsri     42.0
16   Anmqsbll     Duqgtu     28.5
17     Ffskdl    Hrlpuuh     69.5
18  Ofpeuldka      Nusfl     13.0
19       Opau   Logistld     93.0
20  Tubuqeiau    Qgfkqnl     77.0
21  Smkodluug       Teip      8.5
22       Ktof  Usohtttpd     34.5
23      Qtosm     Rqpogd     11.5
24       Dbmf     Ukgkrp     75.0
25       Qlos   Mtrbpllm     19.0
26      Orqrg      Meins     15.0
27    Mibtnep      Qnopd     13.5
28  Gostatbnf   Odfkhieo     46.0
29       Rnpa      Ffnha     72.5
30      Dqkus     Litgin      8.0
31       Pemq     Qaukdt     74.0
32    Qfarlai      Ksgnr     76.0
33       Tsrk       Nmks     71.0
34      Pkdto      Oonos     14.5
35      Hreue       Ktsa     61.5
36     Kkpdba  Ltobtgpdp     65.0
37    Bberdtk     Hlrspg     15.0
38       Uimp  Flkmdqmsf     84.0
39       Qstu  Ulbsndslh     62.0
40    Obppare      Rloin      8.5
41   Affslgbr  Thufdfqbe     39.5
42       Kgis      Sshpo     44.0
43   Ekkrmedf     Rukoob     91.5
44   Reqqpdbl     Eamgkp     43.5
45    Lplonuk   Tnfoabfb     70.0
46       Ukrq      Ifruo     20.5
47   Ukiildku      Tossr     72.0
48  Mufmrtptq  Iqktfbbpg     91.0
49   Pnuirake   Ibaihnrh     14.5