In [1]:
import numpy as np
import pandas as pd
import humps

In [2]:
seed_int = 45
rows = 50

In [3]:
# %%timeit
np.random.seed(seed_int)
np.random.randint(low=0, high=101,size=(2000))

array([75, 30,  3, ..., 18, 73, 92])

In [4]:
# %%timeit
np.random.seed(seed_int)
np.random.choice(["A", "B", "C", "D", "E", "F", "G", "H", "I"], 10)

array(['D', 'A', 'F', 'D', 'E', 'I', 'B', 'F', 'G', 'I'], dtype='<U1')

In [5]:
np.random.seed(seed_int)
alphabets = np.array(["a", "b", "d", "e", "f", "g", "h", "i", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u"])
alphabets

array(['a', 'b', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o',
       'p', 'q', 'r', 's', 't', 'u'], dtype='<U1')

In [6]:
# np.random.seed(seed_int)
def get_names():
    name = np.random.choice(alphabets, np.random.randint(low=4, high=10))
    return humps.pascalize("".join(name))

In [7]:
first_names = [get_names() for _ in range(rows)]

In [8]:
last_names = [get_names() for _ in range(rows)]
last_names

['Ukrq',
 'Ukiildku',
 'Mufmrtptq',
 'Pnuirake',
 'Snei',
 'Fbmhkl',
 'Qenhuli',
 'Kliumsiui',
 'Edtdb',
 'Skhqpk',
 'Ekrgn',
 'Neolidq',
 'Hueoo',
 'Neiaqt',
 'Gfnn',
 'Aguhatur',
 'Onbhopr',
 'Orrqr',
 'Upgqattql',
 'Asdsri',
 'Duqgtu',
 'Hrlpuuh',
 'Nusfl',
 'Logistld',
 'Qgfkqnl',
 'Teip',
 'Usohtttpd',
 'Rqpogd',
 'Ukgkrp',
 'Mtrbpllm',
 'Meins',
 'Qnopd',
 'Odfkhieo',
 'Ffnha',
 'Litgin',
 'Qaukdt',
 'Ksgnr',
 'Nmks',
 'Oonos',
 'Ktsa',
 'Ltobtgpdp',
 'Hlrspg',
 'Flkmdqmsf',
 'Ulbsndslh',
 'Rloin',
 'Thufdfqbe',
 'Sshpo',
 'Rukoob',
 'Eamgkp',
 'Tnfoabfb']

In [9]:
np.random.choice(["Math", "English"], size=5)
marks = np.random.randint(low=0, high=101,size=(rows))

In [10]:
pd.DataFrame({"last_names": last_names, "first_names": first_names, "marks": marks})

   last_names first_names  marks
0        Ukrq     Eaefrbq     47
1    Ukiildku   Kqkodothf     51
2   Mufmrtptq        Qmff     55
3    Pnuirake       Rthom     76
4        Snei     Kktpnms     81
5      Fbmhkl    Rsldiasn     49
6     Qenhuli      Uluaha     12
7   Kliumsiui        Shgt     83
8       Edtdb   Requlllmu     48
9      Skhqpk       Qfgno     62
10      Ekrgn    Lihdiihr     48
11    Neolidq   Hsqlpgmiq     47
12      Hueoo       Sunbn     71
13     Neiaqt       Oupqt     14
14       Gfnn       Tismd      8
15   Aguhatur       Tfdnu     49
16    Onbhopr     Dgnrhou     36
17      Orrqr        Ritd     97
18  Upgqattql    Ilhfnpfg     65
19     Asdsri     Fbeisnr     84
20     Duqgtu    Anmqsbll     37
21    Hrlpuuh      Ffskdl     76
22      Nusfl   Ofpeuldka      7
23   Logistld        Opau     28
24    Qgfkqnl   Tubuqeiau      1
25       Teip   Smkodluug     27
26  Usohtttpd        Ktof     64
27     Rqpogd       Qtosm      7
28     Ukgkrp        Dbmf     75
29   Mtrbpllm        Qlos     28
30      Meins       Orqrg     93
31      Qnopd     Mibtnep     15
32   Odfkhieo   Gostatbnf      7
33      Ffnha        Rnpa     76
34     Litgin       Dqkus     62
35     Qaukdt        Pemq     76
36      Ksgnr     Qfarlai     26
37       Nmks        Tsrk     38
38      Oonos       Pkdto     58
39       Ktsa       Hreue     16
40  Ltobtgpdp      Kkpdba     18
41     Hlrspg     Bberdtk      8
42  Flkmdqmsf        Uimp     79
43  Ulbsndslh        Qstu      0
44      Rloin     Obppare     85
45  Thufdfqbe    Affslgbr     24
46      Sshpo        Kgis     89
47     Rukoob    Ekkrmedf     17
48     Eamgkp    Reqqpdbl     82
49   Tnfoabfb     Lplonuk     48