# 01 - Basic of Pandas
 - [Install Pandas](#install_pandas) 
 - [Import Pandas](#import_pandas)
 - [How to check Shape](#how_to_check_shape)
 - Check Datatype

## <a id='install_pandas'>Install Pandas</a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## <a id='import_pandas'>Import Pandas</a>

In [2]:
import pandas as pd

## Check Pandas version

In [3]:
pd.__version__

'2.2.2'

## How to create Series

In [4]:
df = pd.Series([1,2,3,4,5])
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

## <a id='how_to_check_shape'>How to check Shape</a>

In [5]:
df.shape

(5,)

## How to create DataFrame

In [6]:
df = pd.DataFrame({"firstName": ["Vimal", "Krishiv","Nitya"], "lastName": ["Menon", "Menon", "Kurup"], "age":[38,1,33]})
df

  firstName lastName  age
0     Vimal    Menon   38
1   Krishiv    Menon    1
2     Nitya    Kurup   33

## How to check Shape

In [7]:
df.shape

(3, 3)

## How to get Info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstName  3 non-null      object
 1   lastName   3 non-null      object
 2   age        3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

## How to use describe

In [9]:
df.describe()

            age
count   3.00000
mean   24.00000
std    20.07486
min     1.00000
25%    17.00000
50%    33.00000
75%    35.50000
max    38.00000

## How to get columns

In [10]:
df.columns

Index(['firstName', 'lastName', 'age'], dtype='object')

## How to get Index

In [11]:
df.index

RangeIndex(start=0, stop=3, step=1)

## Check Datatype

In [12]:
df.dtypes

firstName    object
lastName     object
age           int64
dtype: object