# Header Manipulation

## Import pandas

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df = pd.read_csv("company.csv")
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,8cC6B5992C0309c,Acevedo LLC,https://www.donovan.com/,Holy See (Vatican City State),Multi-channeled bottom-line core,2019,Graphic Design / Web Design,7070
1,2,ec094061FeaF7Bc,Walls-Mcdonald,http://arias-willis.net/,Lithuania,Compatible encompassing groupware,2005,Utilities,8156
2,3,DAcC5dbc58946A7,Gregory PLC,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121
3,4,8Dd7beDa37FbeD0,"Byrd, Patterson and Knox",https://www.james-velez.net/,Netherlands,Pre-emptive national function,1982,Furniture,3494
4,5,a3b5c54AEC163e4,Mcdowell-Hopkins,http://fuentes.com/,Mayotte,Cloned bifurcated solution,2016,Online Publishing,36

In [3]:
df.isna().any()

Index                  False
Organization Id        False
Name                   False
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [4]:
df_copy = df.copy()
df_copy.loc[2, "Name"] = np.nan
df_copy.isna().any()

Index                  False
Organization Id        False
Name                    True
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

## Get NA values

In [5]:
df_copy[df_copy.isna().any(axis=1)]

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
2,3,DAcC5dbc58946A7,NaN,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121

In [6]:
df_copy.isnull().any()

Index                  False
Organization Id        False
Name                    True
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [7]:
df_copy.dropna(axis=1).shape

(100000, 8)

In [8]:
df_copy.dropna(axis=0).shape

(99999, 9)

In [9]:
df_copy.shape

(100000, 9)

In [10]:
df_groupby = df.rename(columns={"Number of employees":"EmployeeCount", "Organization Id":"id"})

In [11]:
df_groupby.groupby("Country").count()

,Index,id,Name,Website,Description,Founded,Industry,EmployeeCount
Country,,,,,,,,
Afghanistan,401,401,401,401,401,401,401,401
Albania,417,417,417,417,417,417,417,417
Algeria,418,418,418,418,418,418,418,418
American Samoa,389,389,389,389,389,389,389,389
Andorra,417,417,417,417,417,417,417,417
...,...,...,...,...,...,...,...,...
Wallis and Futuna,388,388,388,388,388,388,388,388
Western Sahara,428,428,428,428,428,428,428,428
Yemen,409,409,409,409,409,409,409,409
Zambia,396,396,396,396,396,396,396,396
Zimbabwe,426,426,426,426,426,426,426,426

In [12]:
df_groupby.groupby("Country").min()

,Index,id,Name,Website,Description,Founded,Industry,EmployeeCount
Country,,,,,,,,
Afghanistan,353,00aA041edCdb59A,"Acosta, Dominguez and Soto",http://archer.com/,Adaptive 4thgeneration pricing structure,1970,Accounting,34
Albania,171,02995eB8aA7A196,Acosta PLC,http://arias.com/,Adaptive asymmetric utilization,1970,Accounting,1
Algeria,13,0134EBde9d8bED7,Adams PLC,http://alvarado.biz/,Adaptive 24/7 complexity,1970,Accounting,39
American Samoa,462,01b492ce397Df1C,Adams-Bean,http://andersen.com/,Adaptive context-sensitive superstructure,1970,Accounting,8
Andorra,49,01dAE2d0673E381,Acevedo LLC,http://andrade-moses.org/,Adaptive executive array,1970,Alternative Dispute Resolution,6
...,...,...,...,...,...,...,...,...
Wallis and Futuna,480,002BEFF8Cb9A84D,"Acosta, Hurst and Horton",http://acevedo.com/,Adaptive eco-centric forecast,1970,Accounting,70
Western Sahara,9,00b122A8f9241D0,"Acevedo, Brooks and Pineda",http://archer.com/,Adaptive bi-directional infrastructure,1970,Accounting,1
Yemen,321,012077Ffbf40BF5,"Acosta, Williamson and Boone",http://austin-henry.biz/,Adaptive 6thgeneration application,1970,Airlines / Aviation,17
Zambia,649,01390f5Cfb0f7F0,Abbott PLC,http://aguilar-jordan.com/,Adaptive eco-centric middleware,1970,Accounting,25
Zimbabwe,263,007e8564708E33E,"Abbott, Hoover and Clay",http://aguirre.com/,Adaptive dedicated moratorium,1970,Accounting,4

In [13]:
df_groupby.groupby("Country").max()

,Index,id,Name,Website,Description,Founded,Industry,EmployeeCount
Country,,,,,,,,
Afghanistan,99694,fdCFf3eE3Bf4115,Zuniga PLC,https://www.zamora-walker.biz/,Visionary web-enabled extranet,2022,Writing / Editing,9997
Albania,99763,ffA490CFD572c83,Zuniga-Fleming,https://zamora.com/,Visionary web-enabled help-desk,2022,Writing / Editing,9910
Algeria,99806,ffCEed3dd95Dda4,"Zamora, Wilkins and Rocha",https://www.zavala.net/,Visionary zero administration attitude,2022,Writing / Editing,9972
American Samoa,99900,fe13e3C6CC735CE,Zhang and Sons,https://www.zuniga.com/,Vision-oriented scalable policy,2022,Writing / Editing,9994
Andorra,99863,ff840CA95b71CbA,"Zuniga, Glover and Gonzales",https://yoder.com/,Visionary optimal utilization,2022,Writing / Editing,9997
...,...,...,...,...,...,...,...,...
Wallis and Futuna,99624,fff1d3BA1eCcf9A,Wu-Gaines,https://yu.com/,Visionary value-added functionalities,2022,Writing / Editing,9963
Western Sahara,99545,ff955fB8FCC06Ac,"Zimmerman, Bradshaw and Carpenter",https://www.wright.com/,Visionary tertiary open architecture,2021,Writing / Editing,9951
Yemen,99935,ff0405E19ad1a9C,Zimmerman Inc,https://zavala.org/,Visionary value-added customer loyalty,2022,Writing / Editing,9983
Zambia,99303,ffF48eAaFE55844,Zhang Group,https://zavala.com/,Visionary radical info-mediaries,2022,Writing / Editing,9914
Zimbabwe,99987,ffE9BACC93FFd20,Zuniga Group,https://www.yates.com/,Visionary global moderator,2022,Writing / Editing,9993

In [14]:
df_groupby.groupby("Country").sum()

,Index,id,Name,Website,Description,Founded,Industry,EmployeeCount
Country,,,,,,,,
Afghanistan,20304948,Fcb6e0ba8aE250C19C8Cff8B0FCc0F2aBdAfc139fAF651...,"Ramos, Dorsey and LynchGray-YoderLee, Kemp and...",http://fernandez.net/http://lamb.org/https://p...,Realigned 24/7 pricing structureUser-centric n...,800399,Military IndustryLaw EnforcementManagement Con...,2083677
Albania,20584065,4351f4c9755DbA6a5B5EDaBE0BAfD9f6588cCE67DAB35f...,"Dominguez and SonsChen, Buck and TerryButler G...",https://mcpherson.com/http://mccoy.net/http://...,Digitized multimedia intranetGrass-roots analy...,831765,Biotechnology / GreentechBusiness Supplies / E...,2197512
Algeria,21244996,1F861fAbeDdCFea28959dbe3BB2FEF78cf9bE1Bb3938F9...,"Arias, Jackson and HesterWebb, Browning and Co...",https://hardin-thompson.com/https://www.strick...,Switchable maximized synergyOptimized bifurcat...,834289,UtilitiesConsumer ElectronicsInternational Tra...,2035454
American Samoa,19650292,Ad4DBe0FdFE82fb5a37136A4EdAbD8cae3A7DFDEDfbF2D...,"Decker, Meyers and FieldsKennedy GroupMartin, ...",https://small.biz/http://www.gill.com/http://w...,Decentralized eco-centric contingencyTotal sol...,775779,PhotographyGambling / CasinosGovernment Admini...,1872544
Andorra,20589295,a5D7abBe4994b43CCaA31E5DeFC4dB1eb076BBFca058E8...,"Ray IncCook IncValentine-ValdezGibson, Key and...",https://www.lowe.com/https://www.cline.com/htt...,Polarized cohesive solutionProactive non-volat...,832163,Program DevelopmentHuman Resources / HRPerform...,2127618
...,...,...,...,...,...,...,...,...
Wallis and Futuna,18824417,730f2ADA27c0Eff8e1c0BFFebEf7Af5EfFEda2138c0CdC...,"Campos, Wong and GordonGuerrero LLCDunlap LLCL...",http://powers-anderson.com/http://www.zamora.c...,Front-line composite moderatorStreamlined 24/7...,774388,Computer HardwareInformation Technology / ITPa...,1978857
Western Sahara,21742075,Cfa1a44106faD4BC6F5Fe2fa151f1Bcb0B580B0BFFaE4A...,"Lucas, Galloway and BenjaminYang-RileyOwen, Fi...",http://silva.info/https://arellano-beasley.com...,Persevering leadingedge abilityCloned bottom-l...,853926,Retail IndustryBusiness Supplies / EquipmentNa...,2068407
Yemen,20987894,A3E4802e2Baf1A69F78589F9d1b98312E57E3c9b4DA61a...,"Bryan, Moses and AlvaradoYu, Gallagher and Jac...",https://www.gibbs.com/http://www.peterson.com/...,Re-contextualized solution-oriented frameRe-en...,816109,VeterinaryMental Health CarePhilanthropyLaw Pr...,1983819
Zambia,20212121,8BCD4297F0eEF378C0359bc571d31253B263c6BBB1c30B...,"Morris, Foster and SchwartzMejia PLCSteele, Di...",http://colon.com/https://mcgee.com/https://lut...,Business-focused responsive orchestrationFace-...,790286,UtilitiesMotion Pictures / FilmComputer Softwa...,1954218
Zimbabwe,21941984,F2AeBdFf6CB64F6de7d98aF1eAda37ceE8bEefA9F6BD7B...,Manning-WalkerDuran LtdRamos-RiggsNolan GroupE...,http://www.hall-barton.com/https://shaffer-lit...,Open-architected responsive strategyCompatible...,850738,AutomotiveEvents ServicesCivic / Social Organi...,2236053

In [15]:
df_groupby.groupby("Country").agg({"EmployeeCount": ["sum", "count"]})

                  EmployeeCount
                            sum count
Country
Afghanistan             2083677   401
Albania                 2197512   417
Algeria                 2035454   418
American Samoa          1872544   389
Andorra                 2127618   417
...                         ...   ...
Wallis and Futuna       1978857   388
Western Sahara          2068407   428
Yemen                   1983819   409
Zambia                  1954218   396
Zimbabwe                2236053   426

[243 rows x 2 columns]

In [16]:
df_groupby.groupby("Country").describe()

                   Index                                               \
                   count          mean           std    min       25%
Country
Afghanistan        401.0  50635.780549  28638.569991  353.0  25213.00
Albania            417.0  49362.266187  28946.988771  171.0  25419.00
Algeria            418.0  50825.349282  29226.730116   13.0  24941.25
American Samoa     389.0  50514.889460  28382.093492  462.0  26979.00
Andorra            417.0  49374.808153  27911.555339   49.0  25481.00
...                  ...           ...           ...    ...       ...
Wallis and Futuna  388.0  48516.538660  28717.928734  480.0  24407.25
Western Sahara     428.0  50799.240654  29353.495051    9.0  23501.75
Yemen              409.0  51315.144254  29785.394468  321.0  25228.00
Zambia             396.0  51040.709596  28456.932636  649.0  26752.00
Zimbabwe           426.0  51507.004695  29194.679265  263.0  26543.25

                                              Founded               ...  \
                       50%       75%      max   count         mean  ...
Country                                                             ...
Afghanistan        48009.0  77539.00  99694.0   401.0  1996.007481  ...
Albania            49767.0  73520.00  99763.0   417.0  1994.640288  ...
Algeria            51762.5  74490.50  99806.0   418.0  1995.906699  ...
American Samoa     48440.0  74786.00  99900.0   389.0  1994.290488  ...
Andorra            46554.0  74216.00  99863.0   417.0  1995.594724  ...
...                    ...       ...      ...     ...          ...  ...
Wallis and Futuna  46832.5  72892.50  99624.0   388.0  1995.845361  ...
Western Sahara     53202.0  75408.00  99545.0   428.0  1995.154206  ...
Yemen              50974.0  77612.00  99935.0   409.0  1995.376528  ...
Zambia             51695.5  75850.25  99303.0   396.0  1995.671717  ...
Zimbabwe           54521.0  77880.00  99987.0   426.0  1997.037559  ...

                                   EmployeeCount                            \
                       75%     max         count         mean          std
Country
Afghanistan        2010.00  2022.0         401.0  5196.201995  2901.168523
Albania            2007.00  2022.0         417.0  5269.812950  2863.537936
Algeria            2009.75  2022.0         418.0  4869.507177  2854.660193
American Samoa     2007.00  2022.0         389.0  4813.737789  2944.660284
Andorra            2009.00  2022.0         417.0  5102.201439  2943.472803
...                    ...     ...           ...          ...          ...
Wallis and Futuna  2010.00  2022.0         388.0  5100.146907  2907.600852
Western Sahara     2008.00  2021.0         428.0  4832.726636  2875.388593
Yemen              2009.00  2022.0         409.0  4850.413203  3019.456932
Zambia             2008.00  2022.0         396.0  4934.893939  2813.835878
Zimbabwe           2011.00  2022.0         426.0  5248.950704  2806.966864


                    min     25%     50%      75%     max
Country
Afghanistan        34.0  2788.0  5073.0  7719.00  9997.0
Albania             1.0  3027.0  5288.0  7716.00  9910.0
Algeria            39.0  2432.0  4627.0  7166.25  9972.0
American Samoa      8.0  2231.0  4606.0  7212.00  9994.0
Andorra             6.0  2631.0  5212.0  7743.00  9997.0
...                 ...     ...     ...      ...     ...
Wallis and Futuna  70.0  2573.0  5022.0  7532.00  9963.0
Western Sahara      1.0  2391.0  4727.0  7269.00  9951.0
Yemen              17.0  2105.0  4670.0  7595.00  9983.0
Zambia             25.0  2548.5  5061.0  7416.00  9914.0
Zimbabwe            4.0  2887.0  5223.5  7824.00  9993.0

[243 rows x 24 columns]