# Header Manipulation

## Import pandas

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df = pd.read_csv("company.csv")
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,8cC6B5992C0309c,Acevedo LLC,https://www.donovan.com/,Holy See (Vatican City State),Multi-channeled bottom-line core,2019,Graphic Design / Web Design,7070
1,2,ec094061FeaF7Bc,Walls-Mcdonald,http://arias-willis.net/,Lithuania,Compatible encompassing groupware,2005,Utilities,8156
2,3,DAcC5dbc58946A7,Gregory PLC,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121
3,4,8Dd7beDa37FbeD0,"Byrd, Patterson and Knox",https://www.james-velez.net/,Netherlands,Pre-emptive national function,1982,Furniture,3494
4,5,a3b5c54AEC163e4,Mcdowell-Hopkins,http://fuentes.com/,Mayotte,Cloned bifurcated solution,2016,Online Publishing,36

In [3]:
df.isna().any()

Index                  False
Organization Id        False
Name                   False
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [4]:
df_copy = df.copy()
df_copy.loc[2, "Name"] = np.nan
df_copy.isna().any()

Index                  False
Organization Id        False
Name                    True
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [5]:
df_copy.isnull().any()

Index                  False
Organization Id        False
Name                    True
Website                False
Country                False
Description            False
Founded                False
Industry               False
Number of employees    False
dtype: bool

In [6]:
df_copy.dropna(axis=1).shape

(100000, 8)

In [7]:
df_copy.dropna(axis=0).shape

(99999, 9)

In [8]:
df_copy.shape

(100000, 9)