# Scikit Learn
- ## [Scikit](https://scikit-learn.org/stable/index.html)

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = {
    "name": ["Jake", "paul", "Tim", "Jim"],
    "review": ["This is bad!", "This should be banned!", "Awesome Product", "Another scam"],
    "score": [1, 2, 4, 2]
}

In [5]:
df = pd.DataFrame(data)
df

   name                  review  score
0  Jake            This is bad!      1
1  paul  This should be banned!      2
2   Tim         Awesome Product      4
3   Jim            Another scam      2